/* @override http://127.0.0.1/~niko/perlScripts/coordinates/index.css */

.form{
	display: block;
	position: absolute;
	background: white;
	border: 4px solid black;
	padding-left: 10pt;
	padding-right: 10pt;
	top: 39px;
	left: 54px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.results {
	float:left;
	display: block;
	position:absolute;
	background: white;
	opacity:100%;
}
.canvas{
	z-index: -3;
	display: block;
	margin:-0px;
	padding:0px;
}
